<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageName}} Page</title>
</head>
<body>
{{> header}}
<p>{{pageName}} Page Text !!</p>
<p>{{screamIt welcomeMessage}}</p>
{{> footer}}
</body>
</html>